asyncpg>=0.30.0
beautifulsoup4>=4.13.4
fastapi[standard]>=0.115.12
httpx>=0.28.1
lxml>=5.4.0
openpyxl>=3.1.5
pydantic>=2.11.4
python-dotenv>=1.1.0
uvicorn>=0.34.2
google-generativeai>=0.7.0
openai>=1.35.10
psycopg2-binary>=2.9.9
